---
import Layout from '../layouts/Layout.astro';
import Navegador from '../components/Navegador.astro'
import Slider from '../components/Slider.astro'
import Portada from '../components/Portada.astro'
import Mapag from	'../components/Mapag.astro'
import Tarjeta_servicios from	'../components/Tarjeta_servicios.astro'
import Footer from	'../components/Footer.astro'

---

<Layout title="El Yeite">

		<main style="background-color: rgb(248, 248, 248);">
			
			<Navegador />
			<div style="margin:auto; padding-top:70px; font-size:8	0px;">
				<h2 class="mb-5 text-8xl font-extrabold tracking-tight text-orange-500 dark:text-white md:text-center md:text-orange-400 md:px-300; md:py-2;" style="text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);">El Yeite</h2>
			</div>
			<div >
				<img src="../../fotomar3.jpg" style="margin:auto; border-radius:10%; opacity:30%; poistion:absolute; top:800px;">
			</div>
		
			<Slider />
		
			<div id="servicios" style="padding-top:200px;">
				<Tarjeta_servicios />
			</div>
	
	<div class="md:py-20 md:my-auto md:mx-auto shadow-2x1" >
		<h2 class="px-80 mb-5 text-4xl font-extrabold tracking-tight text-orange-500" >Ubicación:</h2>
		<iframe class="md:mx-auto md:rounded-x1  "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.828700066147!2d-56.68270191008851!3d-36.70265405038165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959c6ff25ef4621f%3A0xe079b4d958ccf4e0!2sEl%20Yeite!5e0!3m2!1ses!2sar!4v1689135396518!5m2!1ses!2sar" width="600" height="450" style="border:solid 2px; border-color:blue; border-radius:6px; " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	
	
<a  class=" md:m-auto block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Contactanos:</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Teléfono/Wathsapp: 1136319160 </p>
	<p class="font-normal text-gray-700 dark:text-gray-400">Email: hsalgado50@gmail.com </p>
</a>


	</div>  
<div style="position: fixed; top:500px; left:1250px;z-index:3000">
	<a href="https://wa.me/05491136319160" target="_blank">
		<img src="../../wsp.png" alt="WhatsApp" style="width:80px;" />
	  </a>
	</div>

<div class="md:py-40">	
		<Footer />	
	</div>			
			</main>

