---
import Layout from '../layouts/Layout.astro';
import Navegador from '../components/Navegador.astro'
import Slider from '../components/Slider.astro'
import Portada from '../components/Portada.astro'
import Mapag from	'../components/Mapag.astro'
import Tarjeta_servicios from	'../components/Tarjeta_servicios.astro'
import Footer from	'../components/Footer.astro'

---

<Layout title="El Yeite">

		<main style="background-color: rgb(248, 248, 248);">
			
			<Navegador />
			<div style="margin:auto; padding-top:70px; font-size:8	0px;">
				<h2 class="mb-5 text-8xl font-extrabold tracking-tight text-orange-500 dark:text-white md:text-1xl md:text-orange-300 md:px-6; md:py-2">El Yeite</h2>
			</div>
			<div style="padding-top:20px; poistion:flex;">
				<img src="../../fotomar3.jpg" style="margin:auto; border-radius:3%; opacity:30%">
			</div>
		
			<Slider />
		
		<div style="padding-top:50px;">
		<Tarjeta_servicios />
	</div>
		<Mapag />
	</div>  
<div style="position: fixed; top:500px; left:1150px;z-index:3000">
	<a href="https://wa.me/05491136319160" target="_blank">
		<img src="../../wsp.png" alt="WhatsApp" style="width:80px;" />
	  </a>
	</div>

	
		<Footer />	
				
			</main>

